{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div id="game_over" class="row {% if not game.game_over %}vis_hidden{% endif %}">
    <h1 id="game_over_message" class="col-md-offset-2 col-md-4 text-center">
      {% if game.win %}You win!{% else %}Game over{% endif %}
    </h1>
  </div>

  <div class="row">
    <div class="col-md-8">
      <table class="board center-table">
        <tbody>
          {% for row in game.board %}
            <tr>
              {% for cell in row %}
                {% include 'cell.html' with cell=cell %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-md-4 panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div>
            <div class="col-md-6">
              <h4>Timer: <span  id="timer">{{ initial_timer }}</span></h4>
            </div>
            <div class="col-md-6">
              <h4>Mine count: {{ game.mine_count }}</h4>
            </div>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col-md-10">
            {% crispy form %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}
  <script>
    "use strict"; // reduces javascript craziness
    var timerIntervalId = null;

    function changeCells(cells) {
      $.each(cells, function(i, cell) {
        var $td = $('#cell' + cell.x + '-' + cell.y);
        $td.replaceWith(cell.html);
      });
    }

    function checkGameOver(data) {
      if (data.is_game_over) {
        if (data.win) {
          $('#game_over_message').html('You win!');
        } else {
          $('#game_over_message').html('Game over');
        }
        $('#game_over').removeClass('vis_hidden');

        if (timerIntervalId != null) { // stop timer if running
          clearInterval(timerIntervalId);
        }
      }
    }

    $(function() {
      // timer
      {% if not game.game_over %}
        var start = new Date();

        timerIntervalId = setInterval(function() {
          var now = new Date();
          var seconds = Math.round((now - start) / 1000) + {{ initial_timer }};
          $('#timer').text(seconds);
        }, 1000);
      {% endif %}

      // flag cell
      $('table.board tbody').on('contextmenu', 'td', function(event) {
        event.preventDefault();
        var $td = $(event.target).closest('td');
        $.post("{% url 'game:flag' signed_id %}", {
          x: $td.data('x'),
          y: $td.data('y')
        }, function(data) {
          changeCells(data.cells);
          checkGameOver(data);
        });
      });

      // clear cell
      $('table.board tbody').on('click', 'td', function(event) {
        event.preventDefault();
        var $td = $(event.target).closest('td');
        $.post("{% url 'game:sweep' signed_id %}", {
          x: $td.data('x'),
          y: $td.data('y')
        }, function(data) {
          changeCells(data.cells);
          checkGameOver(data);
        });
      });
    });
  </script>
{% endblock %}
