body {
  padding-top: 8rem;
}

#game_over {
    height: 80px;
}

.vis_hidden {
    visibility: hidden;
}

table.board td {
    width: 25px;
    height: 25px;
    border: solid white;
}

table.board {
    border: solid black 4px;
}

table.board td {
    background-color: grey;
}

table.board td.cell-cleared {
    background-color: darkgrey;
}

table.board td.cell-flagged span {
    color: lightgreen;
}

table.board td.cell-mine span {
    color: darkred;
}

.center-table
{
  margin: 0 auto !important;
  float: none !important;
}

